@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

* {
    font-family: 'Oswald', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-image: url('../imgs/wildfire_bg.jpg');
    color: lightgrey;
    height: 100%;
}

p{
    margin: 0;
    color: peru;
}


.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}


